<a href="#" onclick="$('a#navbar_show_settings').click(); $('li#settings_plugin_klipper_config_changer_link a').click();" style="color:red; font-weight: bold; margin: 0 100px; text-shadow: none; font-size: x-large;" data-bind="text: settings.settings.plugins.klipper_config_changer.tool">&nbsp;</a>