<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Tool name') }}</label>
        <div class="controls">
            <select data-bind="value: settings.plugins.klipper_config_changer.tool">
		  <option value="Extruder">Extruder</option>
		  <option value="Spindle">Spindle</option>
		  <option value="Pen">Pen</option>
		  <option value="Cutter">Cutter</option>
	    </select>
        </div>
    </div>
</form>
